@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap');

:root{
  --body-font: 'Raleway', sans-serif;

  --body-color: #fff;
  --black-color: hsl(233, 26%, 24%);
  --color-background: #041f28;
  --first-color: #f0f0f0;
  --first-color-alt: hsl(192, 70%, 51%);
  --second-color: #acacac;
  --second-color-alt: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font-family: var(--body-font);
}

.container {
  position: relative;
  width: 100%;
  background-color: var(--body-color);
  min-height: 100vh;
  overflow: hidden;
}

.container__form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin__signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.form__signup {
  opacity: 0;
  z-index: 1;
}

form.form__signin {
  z-index: 2;
}

.form__title {
  font-size: 2.2rem;
  color: var(--black-color);
  margin-bottom: 10px;
}

.field__input {
  max-width: 380px;
  width: 100%;
  background-color: var(--first-color);
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.field__input i {
  text-align: center;
  line-height: 55px;
  color: var(--black-color);
  transition: 0.5s;
  font-size: 1.1rem;
}

.field__input input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--black-color);
}

.field__input input::placeholder {
  color: var(--second-color);
  font-weight: 500;
}

.password__text{
  padding: 0.7rem 0;
  font-size: 15px;
  text-decoration: none;
  color: var(--black-color);
}

.password__text:hover{
  color: var(--first-color-alt);
}

.text__social {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.plataform__social {
  display: flex;
  justify-content: center;
}

.icon__social {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: var(--black-color);
  border-radius: 50%;
  border: 1px solid var(--black-color);
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.icon__social:hover {
  color: var(--first-color-alt);
  border-color: var(--first-color-alt);
}

.logo__social {
  height: 2rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0.45rem;
  font-size: 1.1rem;
  transition: 0.3s;
}

.logo__social-register {
  height: 2rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0.45rem;
  transition: 0.3s;
}

.btn {
  width: 100%;
  max-width: 380px;
  background: linear-gradient(-45deg, hsl(192, 70%, 51%) 0%, hsl(136, 65%, 51%) 100%);
  border: none;
  outline: none;
  height: 55px;
  border-radius: 55px;
  color: var(--body-color);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover{
  background: var(--second-color);
  color: var(--black-color);
  border: 2px solid var(--black-color);
}
.container__panel {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, hsl(192, 70%, 51%) 0%, hsl(136, 65%, 51%) 100%);
  /* background-image: linear-gradient(-45deg, var(--black-color) 0%, var(--color-background) 100%); */
  transition: 1.9s ease-in-out;
  z-index: 6;
}

.panel__image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.panel__left {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.panel__right {
  pointer-events: none;
  padding: 3rem 22% 2rem 17%;
}

.panel .content {
  color: var(--body-color);
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid var(--body-color);
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.transparent:hover {
  border: none;
  background-color: var(--second-color);
  color: var(--black-color);
  border: 2px solid var(--black-color);
}

.panel__right .panel__image,
.panel__right .content {
  transform: translateX(800px);
}

/* Animação */
.container.mode__signup:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.mode__signup .panel__left .panel__image,
.container.mode__signup .panel__left .content {
  transform: translateX(-800px);
}

.container.mode__signup .signin__signup {
  left: 25%;
}

.container.mode__signup form.form__signup {
  opacity: 1;
  z-index: 2;
}

.container.mode__signup form.form__signin {
  opacity: 0;
  z-index: 1;
}

.container.mode__signup .panel__right .panel__image,
.container.mode__signup .panel__right .content {
  transform: translateX(0%);
}

.container.mode__signup .panel__left {
  pointer-events: none;
}

.container.mode__signup .panel__right {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .signin__signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .form__signup {
    margin-top: -4rem;
  }

  .signin__signup,
  .container.mode__signup .signin__signup {
    left: 50%;
  }

  .container__panel {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .logo__social-register{
    height: 2rem;
    width: 10rem;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .panel__right {
    grid-row: 3 / 4;
  }

  .panel__left {
    grid-row: 1 / 2;
  }

  .panel__image {
    width: 100px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.mode__signup:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.mode__signup .panel__left .panel__image,
  .container.mode__signup .panel__left .content {
    transform: translateY(-300px);
  }

  .container.mode__signup .panel__right .panel__image,
  .container.mode__signup .panel__right .content {
    transform: translateY(0px);
  }

  .panel__right .panel__image,
  .panel__right .content {
    transform: translateY(300px);
  }

  .container.mode__signup .signin__signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .panel__image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.mode__signup:before {
    bottom: 28%;
    left: 50%;
  }
}